.playlist-item{
	position: relative;
	height: 80px;
	border: {
		bottom: 1px solid $lighter-gray;
	}
	cursor: pointer;
}

.playlist-item:hover, .playlist-item.highlight{
	background-color: $lightest-gray;
}

.playlist-item .marker, .playlist-item .thumbnail-container, .playlist-item .item-title{
	position: absolute;
	top: 5px;
}

.playlist-item .marker{
	width: 22px;
	left: 5px;
}

.playlist-item .thumbnail-container{
	height: 70px;
	width: 70px;
	left: 32px;
	background: {
		size: cover;
		repeat: no-repeat;
		position: center;
	}
	overflow: hidden;
}

.playlist-item .item-title{
	left: 107px;
	top: 19px;
	height: 42px;
	max-width: 165px;
	font: {
		weight: bold;
	}
	line-height: 1.5;
	margin-bottom: 0;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.playlist-item.no-image .item-title{
	left: 32px;
	max-width: 240px;
}