@import "compass/css3/border-radius";

#map{
	background: {
		color: $white;
	}
}

.homeExtentButton{
	font: {
		size: 20px !important;
	}	
	line-height: 29px !important;
}

.map-tip{
	display: none;
	position: absolute;
	padding: 7px;
	max-width: 200px;
	background-color: $darker-gray;
	color: $white;
	font: {
		size: 0.8em;
	}
	z-index: 40;
	 @include border-radius(2px);
}

.touch {
	.esriViewPopup{
		padding: 10px;
	}
}

.esriMobileNavigationBar, .esriMobileInfoView{
	z-index: 101;
}

.esriMobileNavigationBar{
	background-color: $darker-gray;
	background-image: none;
}

.esriMobileNavigationItem.right{
	display: none;
}

.esriMobileNavigationBar .esriMobileNavigationItem.left{
	left: auto;
	right: 10px;
	cursor: pointer;
}

.esriPopup .attrTable td{
	vertical-align: top;
}