#modal-background{
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.4;
	z-index: 0;
}

.modal-gallery #modal-background{
	z-index: 1000;
}

#modal-gallery-pane{
	position: absolute;
	background-color: black;
	width: 90%;
	left: 5%;
	z-index: 0;
}

.modal-gallery #modal-gallery-pane{
	z-index: 1001;
}

#modal-gallery-pane{

	#bottom-content{
		width: 100%;
		height: 275px;
	}

	#gallery-divider{
		height: 50px;
		width: 100%;

		hr{
			margin: 25px;
			border-color: #999;
		}
	}
	
	.map{
		background-color: black;
		height: 200px;
		width: 200px;
		margin: 0 25px;
		float: left;

		img{
			max-width: none;
		}
	}

	#photo-description{
		padding: 0 25px 25px;
		color: white;
		font-size: 15px;
		line-height: 1.3;
		overflow: auto;

		p{
			margin-bottom: 1.3em;
		}
	}

}