#modal-background{
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: white;
	opacity: 0.4;
	z-index: 0;
}

.modal-gallery #modal-background{
	z-index: 1000;
}

#modal-gallery-pane{
	position: absolute;
	background-color: black;
	width: 90%;
	left: 5%;
	z-index: 0;
}

.modal-gallery #modal-gallery-pane{
	z-index: 1001;
}

#modal-gallery-pane{

	color: white;

	#gallery-close{
		position: absolute;
		top: 0;
		right: 0;
		font-size: 30px;
		padding: 15px;
		z-index: 1;
		cursor: pointer;
	}

	#gallery-spacer{
		width: 100%;
		height: 25px;
	}

	#modal-image-slider{
		ul, li{
			height: 100%;
			padding: 0;
			margin: 0;
			background: none;
		}

		li{
			background: {
				size: contain;
				repeat: no-repeat;
				position: center;
			}
		}
	}

	#bottom-content{
		width: 100%;
		height: 275px;
		font-size: 15px;
	}

	#gallery-divider{
		height: 50px;
		width: 100%;

		hr{
			margin: 25px;
			border-color: #999;
		}
	}
	
	.map{
		background-color: black;
		height: 200px;
		width: 200px;
		margin: 0 25px;
		float: left;

		img{
			max-width: none;
		}
	}

	#modal-text-display{
		width: 400px;
		height: 200px;
		color: white;
		float: left;

		#winner-category{
			text-transform: uppercase;
			font-size: 18px;
		}

		#wilderness-name{
			font-size: 40px;
			margin: 10px 0 20px;
		}

		#photographer-name{
			margin-bottom: 5px;
		}

	}

	#photo-description{
		padding: 0 25px;
		line-height: 1.3;
		overflow: auto;

		p{
			margin-bottom: 1.3em;
		}
	}

	#photo-settings{
		font-size: 12px;
		color: $lighter-gray;
		font-style: italic;
		padding: 0 25px 25px;
	}

}