#modal-background{
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: $gray;
	opacity: 0.7;
	z-index: 0;
}

#modal-gallery-pane{
	position: absolute;
	background-color: black;
	width: 90%;
	left: 5%;
	z-index: 0;
}

.modal-gallery #modal-background, .modal-gallery #modal-gallery-pane{
	z-index: 1000;
}

#modal-gallery-pane{

	color: white;

	#gallery-top-buffer, #gallery-bottom-buffer{
		width: 100%;
		height: 25px;
	}

	#gallery-right-buffer, #gallery-left-buffer{
		height: 100%;
		width: 75px;
		cursor: pointer;

		table{
			height: 100%;
		}
	}

	#gallery-close{
		position: absolute;
		top: 0;
		right: 0;
		font-size: 30px;
		padding: 15px;
		z-index: 1;
		cursor: pointer;
	}

	#left-details{
		width: 28%;
		height: 100%;
		padding-right: 25px;
		overflow: auto;
		-webkit-overflow-scrolling: touch;

		#winner-category{
			text-transform: uppercase;
			font-size: 18px;
		}

		#photo-title{
			font-size: 40px;
			margin: 10px 0 20px;
		}

		#photographer-name{
			margin-bottom: 5px;
		}

		#hometown{
			margin-bottom: 1.3em;
		}

		#photo-description, #wilderness-info{
			line-height: 1.3;

			p{
				margin-bottom: 1.3em;
			}
		}

		#photo-settings{
			font-size: 12px;
			color: $lighter-gray;
			font-style: italic;
		}

		#wilderness-name{
			font-size: 24px;
			margin: 20px 0 10px;
		}

		.map{
			position: relative;
			background-color: black;
			height: 300px;
			width: 100%;
			float: left;
			margin-bottom: 1.3em;

			.map-blind{
				position: absolute;
				width: 100%;
				height: 100%;
				z-index: 1;
			}

			img{
				max-width: none;
			}
		}
	}

	.photo-nav{
		font-size: 75px;

		&.icon-arrow-left{
			padding-left: 80px;
		}
	}

	&.single-photo{
		.photo-nav{
			display: none;
		}
	}

	#photo-buffer{
		width: 26px;
		height: 100%;
	}

	#left-photo-buffer{
		width: 0;
		height: 100%;
		border-right: 1px solid $light-gray;
	}

	#modal-image{
		background: {
			size: contain;
			repeat: no-repeat;
			position: center;
		}
	}

	#scroll-indicator{
		display: none;
		position: absolute;
		bottom: 0;
		width: 100%;

		.scroll-gradient{
			height: 10px;
			width: 100%;
			@include filter-gradient(#000000, #000000, vertical);
			$experimental-support-for-svg: true;
			@include background-image(linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%));
		}

		.scroll-content{
			padding: 12px 0 0;
			width: 100%;
			font: {
				size: 20px;
			}
			color: #f0f1a3;
			text-align: center;
			background-color: black;
		}
	}

}