#side-pane{
	position: absolute;
	background-color: $white;
	height: 100%;
	width: 300px;
	z-index: 1;
}

#side-pane-controls{
	background-color: $gray;
	width: 100%;
	padding: 5px 0;
}

#side-pane-controls .playlist-control{
	color: $lightest-gray;
	padding: 0 15px;
	font: {
		size: 25px;
	}
	cursor: pointer;
}

#side-pane-controls .control-right{
	float: right;
}

#side-pane-controls .playlist-control:hover{
	color: $white;
}

#info-pane{
	width: 100%;
	height: 300px;
	border-bottom: 5px solid $darker-gray;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

#description, .playlist-no-layer-message{	
	padding: 15px;
	font: {
		family: Georgia, serif;
		size: 1em;
	}
	line-height: 1.2;
}

.playlist-no-layer-message{
	color: $caution;
	font: {
		weight: bold;
		family: $body-font;
	}
}

#playlist{
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.minimized{

	#side-pane-content{
		display: none;
	}

	&#side-pane{
		height: auto;
		width: 58px;
	}

}