@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";

#side-pane{
	position: absolute;
	background-color: $white;
	height: 100%;
	width: 300px;
	z-index: 100;
}

#side-pane-controls{
	background-color: $gray;
	width: 100%;
	padding: 5px 0;
}

#side-pane-controls .playlist-control{
	color: $lightest-gray;
	padding: 0 15px;
	font: {
		size: 25px;
	}
	cursor: pointer;
}

#side-pane-controls .control-right{
	float: right;
}

#side-pane-controls .playlist-control:hover{
	color: $white;
}

#info-pane{
	width: 100%;
	max-height: 300px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

#description, .playlist-no-layer-message{
	display: none;
	padding: 15px;
	font: {
		family: Georgia, serif;
		size: 1em;
	}
	line-height: 1.2;
}

#side-pane-controls{

	.icon-left-arrow{
		float: right;
	}

	.toggle-description{
		padding-right: 0;
	}

	.icon-right-arrow{
		display: none;
	}

}

#info-pane{

	&.show-legend #legend-pane{
		display: block;
	}

	&.show-description #description{
		display: block;
	}

}

#playlist-legend{

	.esriLegendServiceLabel{
		margin-bottom: 5px;
	}

	td{
		padding: 3px 0;
	}
	
	.marker-cell{
		width: 35px;
	}

	.marker{
		width: 22px;
		vertical-align: middle;
	}

}

.playlist-no-layer-message{
	color: $caution;
	font: {
		weight: bold;
		family: $body-font;
	}
}

#playlist-controls{
	background: {
		color: $gray;
	}
	width: 100%;
	padding: 8px 0;

	#search{
		position: relative;
		background-color: $lighter-gray;
		height: auto;
		width: 270px;
		line-height: 1em;
		margin: {
			left: 15px;
		}
		color: $dark-gray;
		font: {
			size: 12px;
			weight: bold;
		}
		padding: 5px 25px 5px 5px;
		border: 1px solid $lighter-gray;
		@include border-radius(3px);
		@include box-shadow(inset 0px 0px 9px 0px $lighter-gray);
		z-index: 1;;
	}

	#search:focus{
		background-color: $lightest-gray;
	}

	#search-submit{
		position: absolute;
		top: 8px;
		right: 15px;
		padding: 5px;
		z-index: 2;	
	}

	#search-submit.icon-close{
		cursor: pointer;
	}

	#filter-wrapper{
		display: none;
		position: absolute;
		top: 0px;
		right: 0px;
		max-width: 300px;
	}

	#filter-toggle{
		margin: 0;
		line-height: 1em;
		font-size: 1em;
		padding: 13px 15px;	
		color: $lightest-gray;
		cursor: pointer;
		float: right;
	}

	#filter-wrapper:hover #filter-toggle{
		color: $white;
	}

	#filter-content{
		display: none;
		position: absolute;
		background-color: $lightest-gray;
		top: 100%;
		right: 5px;
		width: 246px;
		padding: 15px 5px;
		border: 1px solid $lighter-gray;
		z-index: 1;
		overflow: auto;
		@include border-radius(3px);
		@include box-shadow(1px 1px 3px 0px $darker-gray);

		label{
			margin: 5px 15px;
		}

		hr{
			margin: 0;
			border-top-color: $lighter-gray;
		}
	}

	#filter-wrapper:hover #filter-content{
		display: block;
	}

	::-webkit-input-placeholder {
		color: $dark-gray;
	}
}

#playlist{
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.minimized{

	.toggle-description, .toggle-legend{
		display: none;
	}

	.icon-left-arrow{
		display: none;
	}

	.icon-right-arrow{
		display: block !important;
	}

	#side-pane-content{
		display: none;
	}

	&#side-pane{
		height: auto;
		width: 56px;
	}

}