@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";

#side-pane{
	position: absolute;
	background-color: $white;
	height: 100%;
	width: 300px;
	z-index: 1;
}

#side-pane-controls{
	background-color: $gray;
	width: 100%;
	padding: 5px 0;
}

#side-pane-controls .playlist-control{
	color: $lightest-gray;
	padding: 0 15px;
	font: {
		size: 25px;
	}
	cursor: pointer;
}

#side-pane-controls .control-right{
	float: right;
}

#side-pane-controls .playlist-control:hover{
	color: $white;
}

#info-pane{
	width: 100%;
	max-height: 300px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

#description, .playlist-no-layer-message{
	display: none;
	padding: 15px;
	font: {
		family: Georgia, serif;
		size: 1em;
	}
	line-height: 1.2;
}

#side-pane-controls{

	.toggle-description, .toggle-legend{
		float: right;
	}

	.toggle-legend{
		padding-left: 0;
	}

}

#info-pane{

	&.show-legend #legend-pane{
		display: block;
	}

	&.show-description #description{
		display: block;
	}

}

#playlist-legend{

	.esriLegendServiceLabel{
		margin-bottom: 5px;
	}

	td{
		padding: 3px 0;
	}
	
	.marker-cell{
		width: 35px;
	}

	.marker{
		width: 22px;
		vertical-align: middle;
	}

}

.playlist-no-layer-message{
	color: $caution;
	font: {
		weight: bold;
		family: $body-font;
	}
}

#playlist-controls{
	background: {
		color: $gray;
	}
	width: 100%;
	padding: 8px 0;

	#search{
		background-color: $lighter-gray;
		height: auto;
		width: 270px;
		line-height: 1em;
		margin: {
			left: 15px;
		}
		color: $dark-gray;
		font: {
			size: 12px;
			weight: bold;
		}
		padding: 5px 25px 5px 5px;
		border: 1px solid $lighter-gray;
		@include border-radius(3px);
		@include box-shadow(inset 0px 0px 9px 0px $lighter-gray);
	}

	#search:focus{
		background-color: $lightest-gray;
	}

	#search-submit{
		position: absolute;
		top: 8px;
		right: 15px;
		padding: 5px;
		cursor: pointer;	
	}

	::-webkit-input-placeholder {
		color: $dark-gray;
	}
}

#playlist{
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.minimized{

	.toggle-description, .toggle-legend{
		display: none;
	}

	#side-pane-content{
		display: none;
	}

	&#side-pane{
		height: auto;
		width: 58px;
	}

}