@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";

#side-pane{
	position: absolute;
	background-color: black;
	height: 100%;
	width: 300px;
	z-index: 100;
	color: $lighter-gray;
	@include box-shadow(0px 0px 18px 0px $black);
}

#side-pane-buffer{
	width: 100%;
	height: 68px;
}

#side-pane-controls{
	display: none;
	background-color: $gray;
	width: 100%;
	padding: 5px 0;
}

#side-pane-controls .playlist-control{
	color: $lightest-gray;
	padding: 0 15px;
	font: {
		size: 25px;
	}
	cursor: pointer;
}

#side-pane-controls .control-right{
	float: right;
}

#side-pane-controls .playlist-control:hover{
	color: $white;
}

#info-pane{
	width: 100%;
	height: 400px;
	border: {
		bottom: 1px solid #666;
	}
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	::-webkit-scrollbar {
		width: 8px;
		background: $dark-gray;
	}

	::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3);
	}

	::-webkit-scrollbar-thumb {
		background: $light-gray;
	}
}

#description, .playlist-no-layer-message{
	display: none;
	padding: 15px;
	font: {
		family: $body-font;
		size: 1em;
	}
	line-height: 1.2;
}

#side-pane-controls{

	.icon-left-arrow{
		float: right;
		display: inline;
	}

	.toggle-description{
		padding-right: 0;
	}

	.toggle-description, .toggle-legend{
		float: left;
	}

	.icon-right-arrow{
		display: none;
	}

}

body{

	&.show-legend #legend-pane{
		display: block;
	}

	&.show-description #description{
		display: block;
	}

}

#playlist-legend{

	.esriLegendServiceLabel{
		margin-bottom: 5px;
	}

	td{
		padding: 3px 0;
	}
	
	.marker-cell{
		width: 35px;
	}

	.marker{
		width: 22px;
		vertical-align: middle;
	}

	#filterAll{
		font: {
			weight: normal;
			size: 12px;
			style: italic;
		}
		text-decoration: underline;
		cursor: pointer;
	}

	.filterRow{
		cursor: pointer;

		&.items-off{
			opacity: 0.5;
		}
	}

	.checkboxes{
		padding-right: 10px;

		.icon-unchecked{
			display:none;
		}
	}

	.items-off .checkboxes{
		.icon-checked{
			display: none;
		}
		.icon-unchecked{
			display: block !important;
		}
	}

}

.playlist-no-layer-message{
	color: $caution;
	font: {
		weight: bold;
		family: $body-font;
	}
}

#playlist-controls{
	display: none;
	background: {
		color: $gray;
	}
	width: 100%;
	padding: 8px 0;

	#search{
		position: relative;
		background-color: $lighter-gray;
		height: auto;
		width: 270px;
		line-height: 1em;
		margin: {
			left: 15px;
		}
		color: $dark-gray;
		font: {
			size: 12px;
			weight: bold;
		}
		padding: 5px 25px 5px 5px;
		border: 1px solid $lighter-gray;
		@include border-radius(3px);
		@include box-shadow(inset 0px 0px 9px 0px $lighter-gray);
		z-index: 1;;
	}

	#search:focus{
		background-color: $lightest-gray;
	}

	#search-submit{
		position: absolute;
		top: 8px;
		right: 15px;
		padding: 5px;
		z-index: 2;	
	}

	#search-submit.icon-close{
		cursor: pointer;
	}

	#filter-wrapper{
		display: none;
		position: absolute;
		top: 0px;
		right: 0px;
		max-width: 300px;
	}

	#filter-toggle{
		margin: 0;
		line-height: 1em;
		font-size: 1em;
		padding: 13px 15px;	
		color: $lightest-gray;
		cursor: pointer;
		float: right;
	}

	#filter-wrapper:hover #filter-toggle{
		color: $white;
	}

	#filter-content{
		display: none;
		position: absolute;
		background-color: $lightest-gray;
		top: 100%;
		right: 5px;
		width: 246px;
		padding: 15px 5px;
		border: 1px solid $lighter-gray;
		z-index: 1;
		overflow: auto;
		@include border-radius(3px);
		@include box-shadow(1px 1px 3px 0px $darker-gray);

		label{
			margin: 5px 15px;
			white-space: normal;
		}

		hr{
			margin: 0;
			border-top-color: $lighter-gray;
		}
	}

	#filter-wrapper:hover #filter-content{
		display: block;
	}

	::-webkit-input-placeholder {
		color: $dark-gray;
	}
}

#playlist{
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	::-webkit-scrollbar {
		width: 8px;
		background: $dark-gray;
	}

	::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3);
	}

	::-webkit-scrollbar-thumb {
		background: $light-gray;
	}
}

.modal-gallery{
	#playlist{
		overflow: hidden;
		-webkit-overflow-scrolling: auto;
		::-webkit-scrollbar {
			width: 8px;
			background: $dark-gray;
		}

		::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3);
		}

		::-webkit-scrollbar-thumb {
			background: $light-gray;
		}
	}
}

.minimized{

	.toggle-description, .toggle-legend{
		display: none;
	}

	.icon-left-arrow{
		display: none !important;;
	}

	.icon-right-arrow{
		display: block !important;
	}

	#side-pane-content{
		display: none;
	}

	&#side-pane{
		height: auto;
		width: 56px;
	}

}