.touch #side-pane{
	z-index: 0;
}

#mobile-swipe-toggle{
	display: none;
	position: absolute;
	bottom: 0;
	background-color: $white;
	padding: 10px;
	font: {
		size: 20px;
	}
	z-index: 1;
}

.touch #mobile-swipe-toggle{
	display: block;
}