html, body{
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#app-load-screen{
	position: fixed;
	background: {
		color: $lightest-gray;
	}
	height: 100%;
	width: 100%;
	z-index: 900;
}

#loader{
	position: fixed;
	top: 50%;
	right: 50%
}

#loading-message{
	position: fixed;
	top: 50%;
	right: 30%;
	width: 40%;
	text: {
		align: center;
	}
	margin: {
		top: 65px;
	}
}

.region-right{
	position: absolute;
	right: 0;
}

.region-left, .region-center, .region-top, .region-bottom{
	position: absolute;
	left: 0;
}

.region-bottom{
	bottom: 0;
}

#builder-menu, #banner{
	width: 100%;
}

#app-content{
	b, strong{
		font-weight: bold;
	}

	i, em{
		font-style: italic;
	}

	ol, ul{
		padding: .2em 0 0 1.5em;
		list-style-position: inside;
	}

	ol{
		list-style-type: decimal;
	}
}

// Hide builder toolbar in view mode
#header.disabled{
	display: none;
}

#banner{
	background: {
		color: $darker-gray;
	}
	height: 115px;
	z-index: 1001;
	overflow: hidden;
}

#branding-wrapper{
	height: 100%;
	width: 200px;
	float: right;
	text: {
		align: right;
	}
}

#social{
	margin:25px 25px 20px 0;
}

#smLink{
	color: $white;
	font: {
		weight: bold;
		family: $body-font;
		size: .8em;
	}
	text: {
		decoration: none;
	}
	outline:none;
	&:hover{
		text: {
			decoration: underline;
		}
	}
}

.social-share{
	color: $light-gray;
	cursor: pointer;
	&:hover{
		color: $white;
	}
}

.bitly-modal{
	text-align: center;
	height: auto;
	overflow: hidden;
	h4 {
		text-align: left;
	}
}

#bitly-link{
	font: {
		size: 26px;
	}
}

#bitly-copy{
	margin: {
		top: 24px;
	}
	&.zeroclipboard-is-hover{
		background-color: #E16B17;
	}
}

#logo{
	margin: {
		right: 25px;
	}
	border: none;
	outline: none;
}

#logoImg{
	border: none;
	outline: none;
}

#title{
	margin: 25px 25px 10px;
	color: $white;
	font: {
		size: 1.3em;
		weight: normal;
		family: "adobe-caslon-pro",serif;
	}
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#subtitle{
	margin: 0 25px;
	color: $light-gray;
	font: {
		family: Georgia, serif;
		size: 1em;
	}
	line-height: 1.2em;
}

.map .container{
	max-width: none;
}

#legend-wrapper{
	position: absolute;
	width: 300px;
	top: 0;
	right: 150px;
	z-index: 3;
}

#legend-toggle{
	background-color: $gray;
	color: $white;
	padding: 8px 15px;
	margin: 0;
	cursor: pointer;
}

#legend-pane{
	display: none;
	overflow: hidden;
}

.legend{
	padding: 15px 15px 0 15px;
}7

.legend th, .legend td{
	padding: 0;
}

.legend:first-child{
	display: block;
}

.esriLegendService{
	padding-bottom: 15px;
}

// Popup modifications
.esriViewPopup .gallery{
	height: auto;
	max-height: 150px;
}

.esriPopup .maximize, .esriPopup .editSummarySection{
	display: none;
}

/* Custom Webkit Scrollbar */
body:not(.touch){
	::-webkit-scrollbar {
		width: 8px;
	}

	::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	}

	::-webkit-scrollbar-thumb {
		background: $light-gray;
	}
}

// Sign-in Dialog
.esriSignInDialog th, .esriSignInDialog td, .esriSignInDialog label{
	padding: 0;
	margin: 0;
}

.esriSignInDialog td br{
	display: none;
}

.esriSignInDialog td{
	padding-bottom: 15px;
}