---
# Add Page Attributes Here
---

<div id="map" class="region-center">

	<div id="side-pane">
		
		<div id="side-pane-controls" class="region-top">
			<span class="icon-list-2 playlist-control toggle-side-pane" title="Minimize list"></span>
		</div>

		<div id="side-pane-content" class="region-center">
			<div id="info-pane" class="region-top">
				<div id="description"></div>
			</div><!--info-pane-->
			<div id="playlist" class="region-center">
				<div class="playlist-no-layer-message">
					The storytelling playlist app is a great template to showcase your map with a corresponding interactive list of points displayed in your map. <a href="http://downloads.esri.com/agol/pub/npstop102012/index.html" target="_blank">See example here.</a>
					<br>
					<br>
					In order to build the intercative playlist, your webmap must include one of the following type of layers:
					<br>
					<ul>
						<li>CSV layer embedded in webmap</li>
						<li>Feature service layer</li>
					</ul>
				</div>
			</div>
		</div>

	</div>

	<div id="legend-wrapper">
		<h5 id="legend-toggle">LEGEND  &#9660;</h5>
		<div id="legend-pane">
			<div id="legend" class="legend"></div>
		</div>
	</div>

</div><!--/map-->

