---
# Add Page Attributes Here
---

<div id="side-pane">

	<div id="side-pane-buffer" class="region-top"></div>

	<div id="side-pane-content-wrapper" class="region-center">
			
		<div id="side-pane-controls" class="region-top">
			<span class="icon-open-book playlist-control toggle-description" title="Toggle Description"></span>
			<span class="icon-list-2 playlist-control toggle-legend" title="Toggle Legend"></span>
			<span class="icon-left-arrow playlist-control toggle-side-pane" title="Minimize list"></span>
			<span class="icon-right-arrow playlist-control toggle-side-pane" title="Maximize list"></span>
		</div>

		<div id="side-pane-content" class="region-center">
			<div id="info-pane" class="region-top">
				<div id="mobile-info">
					<h3 id="title-info" class="title-text"><%= data.config.title ? data.config.title : "Add title here" %></h3>
					<h4 id="subtitle-info" class="subtitle-text"><%= data.config.subtitle ? data.config.subtitle : "Add subtitle here" %></h4>
					<hr>
				</div>
				<div id="description"></div>
				<div id="legend-pane">
					<div id="playlist-legend" class="legend"></div>
					<div id="legend" class="legend"></div>
				</div>
				<div class="mobile-explore">
					<button class="btn small back-button">Explore Map</button>
				</div>
			</div><!--info-pane-->
			<div id="playlist-pane" class="region-center">
				<div id="playlist-controls" class="region-top">
					<input id="search" type="text" id="playlist-search" name="Search" placeholder="Type to search...">
					<span id="search-submit" class="icon-search"></span>
					<div id="filter-wrapper">
						<p id="filter-toggle" class="icon-filter"></p>
						<div id="filter-content">
							<h5 class="filter-title">Choose items to filter:</h5>
							<label class="select-all">Select All
								<input type="checkbox" checked>
							</label>
							<hr>
						</div>
					</div>					
				</div>
				<div id="playlist" class="region-center">
					<div class="playlist-no-layer-message">
						The storytelling playlist app is a great template to showcase your map with a corresponding interactive list of points displayed in your map. <a href="http://downloads.esri.com/agol/pub/npstop102012/index.html" target="_blank">See example here.</a>
						<br>
						<br>
						In order to build the intercative playlist, your webmap must include one of the following type of layers:
						<br>
						<ul>
							<li>CSV layer embedded in webmap</li>
							<li>Feature service layer</li>
						</ul>
					</div>
				</div>
			</div><!--/playlist-pane-->
		</div>

	</div><!--/side-pane-content-wrapper-->

</div><!--/side-pane-->

<div id="content" class="region-center">

	<div id="startOver">
		<p>Start Over</p>
	</div>

	<div id="banner" class="region-top">

		<div id="header-text" class="region-left">
			<h1 class="back-button icon-left-arrow"><span>Explore Map</span></h1>
			<h1 id="title" class="title-text">W<span class="smaller">ilderness Forever</span></h1>
			<h2 id="subtitle" class="subtitle-text"><%= data.config.subtitle ? data.config.subtitle : "Add subtitle here" %></h2>
		</div><!--/header-text-->

		<div class="region-center"></div>

		<div id="secondary-header" class="region-right">
			<h1>Explore the photos</h1>
		</div>

		<div id="branding-wrapper" class="region-right">
			<div id="social">
				<a id="smLink" href="http://storymaps.esri.com" target="_blank">A story map</a>&nbsp;
				<span class="icon-facebook social-share"></span>
				<span class="icon-twitter social-share"></span>
				<span class="icon-link social-share"></span>
			</div><!--/social-->
			<div id="logo">
				<a id="logoLink" href="http://www.esri.com" target="_blank">
					<img id="logoImg" src="resources/images/esriGlobeLogow.png" alt="Esri - Home">
				</a><!--/logoLink-->
			</div><!--/logo-->
		</div><!--/branding-wrapper-->

		<div id="mobile-controls" class="region-right">
			<span class="icon-open-book playlist-control toggle-description"></span>
			<span class="icon-list-2 playlist-control toggle-legend"></span>
			<span class="icon-share"></span>
		</div>

	</div><!--/banner-->

	<div id="map-pane" class="region-center">

		<div id="map" class="region-center"></div>
		<div id="mobile-swipe-toggle" class="icon-right-arrow"></div>
		<div id="map-blind"></div>
		<div id="mobile-share">
			<p class="icon-facebook social-share">&nbsp;Facebook</p>
			<hr>
			<p class="icon-twitter social-share">&nbsp;Twitter</p>
		</div>

	</div><!--/map-pane-->

	<div id="modal-background"></div>
	<div id="modal-gallery-pane">
		<i id="gallery-close" class="icon-close"></i>
		<div id="gallery-top-buffer" class="region-top"></div>
		<div id="gallery-vertical-position" class="region-center">
			<div id="gallery-left-buffer" class="region-left">
				<table>
					<tr>
						<td><i class="icon-left-arrow photo-nav"></i></td>
					</tr>
				</table>
			</div>
			<div id="gallery-content" class="region-center">

				<div id="left-details" class="region-left">
					<h6 id="winner-category"></h6>
					<h3 id="photo-title"></h3>
					<p id="photographer-name"></p>
					<p id="hometown"></p>
					<div id="photo-description"></div>
					<p id="photo-settings"></p>
					<h4 id="wilderness-name"></h4>
					<div id="modal-gallery-map" class="map">
						<div class="map-blind"></div>
					</div>
					<div id="wilderness-info"></div>
					<div id="scroll-indicator">
						<div class="scroll-gradient gradient"></div>
						<div class="scroll-content">Scroll to Read More</div>
					</div>
				</div>

				<div id="photo-content-pane" class="region-center">
					<div id="photo-buffer" class="region-left">
						<div id="left-photo-buffer" class="region-left"></div>
						<div id="right-image-buffer" class="region-center"></div>
					</div>
					<div id="modal-image-pane" class="region-center">
						<div id="modal-image" class="region-center"></div>
					</div>
				</div>

			</div>
			<div id="gallery-right-buffer" class="region-right">
				<table>
					<tr>
						<td><i class="icon-right-arrow photo-nav"></i></td>
					</tr>
				</table>
			</div>
		</div>
		<div id="gallery-bottom-buffer" class="region-bottom"></div>
		
	</div>

</div><!--/content-->