---
# Add Page Attributes Here
---

<div id="map" class="region-center">
	<div id="side-pane">
		<div id="info-pane" class="region-top">
			<div id="description"></div>
		</div><!--info-pane-->
		<div id="playlist" class="region-center"></div>
	</div>
</div><!--/map-->

