---
# Add Page Attributes Here
---

<div id="map" class="region-center">

	<div id="side-pane">
		<div id="info-pane" class="region-top">
			<div id="description"></div>
		</div><!--info-pane-->
		<div id="playlist" class="region-center"></div>
	</div>

	<div id="legend-wrapper">
		<div id="legend-toggle">LEGEND  &#9660;</div>
		<div id="legend-pane">
			<div id="legend" class="legend"></div>
		</div>
	</div>

</div><!--/map-->

